*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded',
  sans-serif;
}

.conteiner{
  min-height: 692px;
position: fixed;
bottom: 0;
left: 0;
right: 0;
top: 0;
z-index: 0;
overflow: hidden;
background: linear-gradient(225deg, #ffc93f 0, #ffba41 12.5%, #ffaa43 25%, #ff9a45 37.5%, #f98946 50%, #eb7946 62.5%, #de6b47 75%, #d15e48 87.5%, #c65449 100%);;
}

.formWrap{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
@media screen and (max-widht: 400px){
    height: 80%;
}}

.icon{
  margin-left: 32px;
margin-top: 32px;
text-decoration: none;
color:#fff;
font-weight: 700;
font-size: 32px;
@media screen and (max-width: 480px){
    margin-left: 16px;
    margin-top: 8px;
}
}

.register{
  height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
@media screen and (max-width: 480px){
    padding: 10px
}
}

.form{
  background: #010101;
max-width: 400px;
height: auto;
width: 100%;
z-index: 1;
display: grid;
margin: 0 auto;
padding: 60px 32px;
border-radius: 4px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
@media screen and (max-width: 400px){
    padding: 32px 32px;
}
}